In [9]:
# Dependencies
from bs4 import BeautifulSoup
import pandas as pd 
import requests
import pymongo
import os
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time

In [10]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
#  URL to scrape
url = 'https://redplanetscience.com/'

In [12]:
browser.visit(url)

time.sleep(5)

In [13]:
# Part 1 Scraping

#NASA Mars News

# Scrape the Mars News Site and collect the latest News Title and Paragraph Text.
#   Assign the text to variables that you can reference later.
# Example:
# Example:
    # news_title = "NASA's Next Mars Mission to Investigate Interior of 
    #               Red Planet"
    # news_p = "Preparation of NASA's next spacecraft to Mars, 
    #           InSight, has ramped up this summer, on course for launch
    #            next May from Vandenberg Air Force Base in central California
    #            -- the first interplanetary launch in history from America's West Coast."

In [14]:
# xpaths 

# # title
# //*[@id="news"]/div[1]/div/div[2]/div/div[2]

# # paragraph
# //*[@id="news"]/div[1]/div/div[2]/div/div[3]

In [15]:
# Fetch title using find x path... 
news_title=browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[2]').text

In [16]:
# Fetch teaser paragraph using find x path... 
news_p=browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[3]').text

In [17]:
# Part 1 Cont'

# JPL Mars Space Images—Featured Image
# Visit the URL for the Featured Space Image site here.
# Use Splinter to navigate the site and find the image 
#       URL for the current Featured Mars Image, then assign the 
#       URL string to a variable called featured_image_url.
# Be sure to find the image URL to the full-sized .jpg image.
# Be sure to save a complete URL string for this image.

In [18]:
url = 'https://spaceimages-mars.com'
browser.visit(url)
time.sleep(5)

In [19]:
# Fetch featured image... 
# Copied xpath for clickable image - /html/body/div[1]/div/a/button

browser.find_by_xpath('/html/body/div[1]/div/a/button').click()

In [20]:
# xpath for  - /html/body/div[8]/div/div/div/div/img

url_featured_image=browser.find_by_xpath('/html/body/div[8]/div/div/div/div/img')['src']
url_featured_image

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [21]:
# Part 1 Continued

# Mars Facts
# Visit the Mars Facts webpage and use Pandas to scrape the table 
#       containing facts about the planet including diameter, mass, etc.
# Use Pandas to convert the data to a HTML table string.

In [22]:

url = 'https://galaxyfacts-mars.com/'
browser.visit(url)
time.sleep(5)

In [23]:
# Mars Fun Facts Table import (first cut)
table_df=pd.read_html(url)[0]
table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [24]:
# Mars Fun Facts Table import (first cut)
table_df.columns=['Description', 'Mars', 'Earth']

In [25]:
# Set Description as index and leave in place
table_df.set_index('Description', inplace=True)
table_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [26]:
# Table Converted to HTML String
table_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
# Part 1 Continued - Mars Hemispheres
# Visit the astrogeology site to obtain high-resolution images for 
#       each hemisphere of Mars.
# You will need to click each of the links to the hemispheres in
#        order to find the image URL to the full-resolution image.
# Save the image URL string for the full resolution hemisphere 
#       image and the hemisphere title containing the hemisphere name. 
#       Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary with the image URL string and the hemisphere 
#       title to a list. This list will contain one dictionary 
#       for each hemisphere.

# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"},
#     {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
#     {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
#     {"title": "Syrtis Major Hemisphere", "img_url": "https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
# ]

In [ ]:
# Example:
# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "..."},
#     {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]

In [34]:
#  SAAD; i NEED TO IMPORT THE IMAGE URLS AS PYTHON DICIONARIES

url = 'https://marshemispheres.com/'
browser.visit(url)
time.sleep(5)

hemisphere_image_urls = []

# (1,5) 1 signifies for the loop to start in the second position
# (1,5) 5 signifies for the loop to run 

for i in range(1,5):
    xpath=f'//*[@id="product-section"]/div[2]/div[{i}]/div/a/h3'
    browser.find_by_xpath(xpath).click()
    
    
    url=browser.find_by_xpath('//*[@id="wide-image"]/div/ul/li[1]/a')['href']
    
    title=browser.find_by_xpath('//*[@id="results"]/div[1]/div/div[3]/h2').text
    hemis={}

    hemis["img_url"]=url
    hemis["title"]=title

    hemisphere_image_urls.append(hemis)
    browser.back()

In [35]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [ ]:
# Part 2: MongoDB and Flask Application
# Use MongoDB with Flask templating to create a new HTML page that displays all the information that was scraped from the URLs above.

# Start by converting your Jupyter notebook into a Python script called scrape_mars.py by using a function called scrape. This function should  execute all your scraping code from above and return one Python dictionary containing all the scraped data.
# Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.
# Store the return value in Mongo as a Python dictionary.
# Create a root route / that will query your Mongo database and pass the Mars data into an HTML template for displaying the data.
# Create a template HTML file called index.html that will take the Mars data dictionary and display all the data in the appropriate HTML elements. Use the following as a guide for what the final product should look like, but feel free to create your own design.